langchain>=0.1.8
langchain-community>=0.0.21
langchain-core>=0.1.24
langchain-text-splitters>=0.0.1
langchain-openai>=0.0.5
pypdf>=4.0.1
faiss-cpu>=1.7.4
python-dotenv>=1.0.1
tiktoken>=0.5.2
chromadb>=0.4.22
pydantic>=2.6.1
streamlit>=1.32.0
watchdog>=3.0.0
extra-streamlit-components>=0.1.60